 
#kc-content-wrapper {
padding-bottom: 100px;
}

.section {
padding-top: 150px;
}

@media only screen and (max-width: 768px) {

  .has-rounded-border {
   border-radius: 0px;
}

.column {
  padding:0rem;

}

.m-4 {
  margin: 0.2rem;
}

.p-4 {
  padding:0.2rem;
}

.section {
  padding: 2.5rem 0rem 0rem;
}


#kc-content-wrapper {
  padding-bottom: 30px;
  background-color: #2d3e50;
}
}

.contact-form-error {
  color: #c21f3a;
  display: none;
  font-size: 0.9rem;
}

.myprogress::-moz-progress-bar {
  background: #1FC2A7;
}

.myprogress::-webkit-progress-value {
  background: #1FC2A7;
}

.myprogress {
  color: #1FC2A7;
  border-radius: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}

.button-area {
  display: flex;
  gap:5px;
  flex-wrap: wrap;
}


/*Tagify Changes*/

.tagify{
  width: 100%;
  max-width: 700px;
}

.tagify__tag{
  color:white;
}

.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #1FC2A7;
  background: #4FB3D9;
  margin: .2em;
  font-size: .85em;
  color: white;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: white;
}

.tags-look .tagify__dropdown__item:hover{
  background: #72c2e1;
  border-color: #72c2e1;
  color:white;
}

.tag-bg{
  background-color: red;
}

.tagify__tag__removeBtn {
  height: 17px;
  width: 17px;
  font-weight: 900;
}


.tagify.is-rounded {
  border-radius: 10px;
  padding: 10px;
}