@charset "UTF-8";
/**
* Calculate the contrast ratio between two colors.
* See https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
*/
/**
* Determine whether to use dark or light text on top of given color.
* Returns black for dark text and white for light text.
*/
/**
* sets the elements color
*/
.is-white {
    color: white !important;
}

.is-black {
    color: black !important;
}

.is-mint {
    color: #1fc2a7 !important;
}

.is-mint-darker-10 {
    color: #1caf96 !important;
}

.is-mint-darker-20 {
    color: #199b86 !important;
}

.is-mint-darker-30 {
    color: #168875 !important;
}

.is-mint-darker-40 {
    color: #137464 !important;
}

.is-mint-darker-50 {
    color: #106154 !important;
}

.is-mint-darker-60 {
    color: #0c4e43 !important;
}

.is-mint-darker-70 {
    color: #093a32 !important;
}

.is-mint-darker-80 {
    color: #062721 !important;
}

.is-mint-darker-90 {
    color: #031311 !important;
}

.is-mint-lighter-10 {
    color: #35c8b0 !important;
}

.is-mint-lighter-20 {
    color: #4cceb9 !important;
}

.is-mint-lighter-30 {
    color: #62d4c1 !important;
}

.is-mint-lighter-40 {
    color: #79daca !important;
}

.is-mint-lighter-50 {
    color: #8fe1d3 !important;
}

.is-mint-lighter-60 {
    color: #a5e7dc !important;
}

.is-mint-lighter-70 {
    color: #bcede5 !important;
}

.is-mint-lighter-80 {
    color: #d2f3ed !important;
}

.is-mint-lighter-90 {
    color: #e9f9f6 !important;
}

.is-lightblue {
    color: #4FB3D9 !important;
}

.is-lightblue-darker-10 {
    color: #47a1c3 !important;
}

.is-lightblue-darker-20 {
    color: #3f8fae !important;
}

.is-lightblue-darker-30 {
    color: #377d98 !important;
}

.is-lightblue-darker-40 {
    color: #2f6b82 !important;
}

.is-lightblue-darker-50 {
    color: #285a6d !important;
}

.is-lightblue-darker-60 {
    color: #204857 !important;
}

.is-lightblue-darker-70 {
    color: #183641 !important;
}

.is-lightblue-darker-80 {
    color: #081216 !important;
}

.is-lightblue-darker-80 {
    color: #081216 !important;
}

.is-lightblue-lighter-10 {
    color: #61bbdd !important;
}

.is-lightblue-lighter-20 {
    color: #72c2e1 !important;
}

.is-lightblue-lighter-30 {
    color: #84cae4 !important;
}

.is-lightblue-lighter-40 {
    color: #95d1e8 !important;
}

.is-lightblue-lighter-50 {
    color: #a7d9ec !important;
}

.is-lightblue-lighter-60 {
    color: #b9e1f0 !important;
}

.is-lightblue-lighter-70 {
    color: #cae8f4 !important;
}

.is-lightblue-lighter-80 {
    color: #dcf0f7 !important;
}

.is-lightblue-lighter-90 {
    color: #edf7fb !important;
}

.is-darkblue {
    color: #2D3E50 !important;
}

.is-darkblue-darker-10 {
    color: #293848 !important;
}

.is-darkblue-darker-20 {
    color: #243240 !important;
}

.is-darkblue-darker-30 {
    color: #1f2b38 !important;
}

.is-darkblue-darker-40 {
    color: #1b2530 !important;
}

.is-darkblue-darker-50 {
    color: #171f28 !important;
}

.is-darkblue-darker-60 {
    color: #121920 !important;
}

.is-darkblue-darker-70 {
    color: #0d1318 !important;
}

.is-darkblue-darker-80 {
    color: #090c10 !important;
}

.is-darkblue-darker-90 {
    color: #040608 !important;
}

.is-darkblue-lighter-10 {
    color: #425162 !important;
}

.is-darkblue-lighter-20 {
    color: #576573 !important;
}

.is-darkblue-lighter-30 {
    color: #6c7885 !important;
}

.is-darkblue-lighter-40 {
    color: #818b96 !important;
}

.is-darkblue-lighter-50 {
    color: #969fa8 !important;
}

.is-darkblue-lighter-60 {
    color: #abb2b9 !important;
}

.is-darkblue-lighter-70 {
    color: #c0c5cb !important;
}

.is-darkblue-lighter-80 {
    color: #d5d8dc !important;
}

.is-darkblue-lighter-90 {
    color: #eaecee !important;
}

.is-yellow {
    color: #F9CD69 !important;
}

.is-yellow-darker-10 {
    color: #e6ad00 !important;
}

.is-yellow-darker-20 {
    color: #cc9a00 !important;
}

.is-yellow-darker-30 {
    color: #b38600 !important;
}

.is-yellow-darker-40 {
    color: #997300 !important;
}

.is-yellow-darker-50 {
    color: #806000 !important;
}

.is-yellow-darker-60 {
    color: #664d00 !important;
}

.is-yellow-darker-70 {
    color: #4c3a00 !important;
}

.is-yellow-darker-80 {
    color: #332600 !important;
}

.is-yellow-darker-90 {
    color: #191300 !important;
}

.is-yellow-lighter-10 {
    color: #ffc61a !important;
}

.is-yellow-lighter-20 {
    color: #ffcd33 !important;
}

.is-yellow-lighter-30 {
    color: #ffd34d !important;
}

.is-yellow-lighter-40 {
    color: #ffd966 !important;
}

.is-yellow-lighter-50 {
    color: #ffe080 !important;
}

.is-yellow-lighter-60 {
    color: #ffe699 !important;
}

.is-yellow-lighter-70 {
    color: #ffecb3 !important;
}

.is-yellow-lighter-80 {
    color: #fff2cc !important;
}

.is-yellow-lighter-90 {
    color: #fff9e6 !important;
}

.is-olive {
    color: #b4ce82 !important;
}

.is-olive-darker-10 {
    color: #a2b975 !important;
}

.is-olive-darker-20 {
    color: #90a568 !important;
}

.is-olive-darker-30 {
    color: #7e905b !important;
}

.is-olive-darker-40 {
    color: #6c7c4e !important;
}

.is-olive-darker-50 {
    color: #5a6741 !important;
}

.is-olive-darker-60 {
    color: #485234 !important;
}

.is-olive-darker-70 {
    color: #363e27 !important;
}

.is-olive-darker-80 {
    color: #24291a !important;
}

.is-olive-darker-90 {
    color: #12150d !important;
}

.is-olive-lighter-10 {
    color: #bcd38f !important;
}

.is-olive-lighter-20 {
    color: #c3d89b !important;
}

.is-olive-lighter-30 {
    color: #cbdda8 !important;
}

.is-olive-lighter-40 {
    color: #d2e2b4 !important;
}

.is-olive-lighter-50 {
    color: #dae7c1 !important;
}

.is-olive-lighter-60 {
    color: #e1ebcd !important;
}

.is-olive-lighter-70 {
    color: #e9f0da !important;
}

.is-olive-lighter-80 {
    color: #f0f5e6 !important;
}

.is-olive-lighter-90 {
    color: #f8faf3 !important;
}

.is-red {
    color: #c21f3a !important;
}

.is-red-darker-10 {
    color: #AE1B34 !important;
}

.is-red-darker-20 {
    color: #9B182E !important;
}

.is-red-darker-30 {
    color: #871528 !important;
}

.is-red-darker-40 {
    color: #741222 !important;
}

.is-red-darker-50 {
    color: #600F1D !important;
}

.is-red-darker-60 {
    color: #4D0C17 !important;
}

.is-red-darker-70 {
    color: #3A0911 !important;
}

.is-red-darker-80 {
    color: #26060B !important;
}

.is-red-darker-90 {
    color: #130305 !important;
}

.is-red-lighter-10 {
    color: #C8354D !important;
}

.is-red-lighter-20 {
    color: #CE4B61 !important;
}

.is-red-lighter-30 {
    color: #D46275 !important;
}

.is-red-lighter-40 {
    color: #DA7888 !important;
}

.is-red-lighter-50 {
    color: #E08F9C !important;
}

.is-red-lighter-60 {
    color: #E6A5B0 !important;
}

.is-red-lighter-70 {
    color: #ECBBC3 !important;
}

.is-red-lighter-80 {
    color: #F2D2D7 !important;
}

.is-red-lighter-90 {
    color: #F8E8EB !important;
}

/**
* sets the background color with the correct contrast color for text
*/
.has-bg-white {
    background-color: white !important;
    color: black !important;
}

.has-bg-black {
    background-color: black !important;
    color: white !important;
}

.has-bg-mint {
    background-color: #1fc2a7 !important;
    color: black !important;
}

.has-bg-mint-darker-10 {
    background-color: #1caf96 !important;
    color: black !important;
}

.has-bg-mint-darker-20 {
    background-color: #199b86 !important;
    color: black !important;
}

.has-bg-mint-darker-30 {
    background-color: #168875 !important;
    color: black !important;
}

.has-bg-mint-darker-40 {
    background-color: #137464 !important;
    color: white !important;
}

.has-bg-mint-darker-50 {
    background-color: #106154 !important;
    color: white !important;
}

.has-bg-mint-darker-60 {
    background-color: #0c4e43 !important;
    color: white !important;
}

.has-bg-mint-darker-70 {
    background-color: #093a32 !important;
    color: white !important;
}

.has-bg-mint-darker-80 {
    background-color: #062721 !important;
    color: white !important;
}

.has-bg-mint-darker-90 {
    background-color: #031311 !important;
    color: white !important;
}

.has-bg-mint-lighter-10 {
    background-color: #35c8b0 !important;
    color: black !important;
}

.has-bg-mint-lighter-20 {
    background-color: #4cceb9 !important;
    color: black !important;
}

.has-bg-mint-lighter-30 {
    background-color: #62d4c1 !important;
    color: black !important;
}

.has-bg-mint-lighter-40 {
    background-color: #79daca !important;
    color: black !important;
}

.has-bg-mint-lighter-50 {
    background-color: #8fe1d3 !important;
    color: black !important;
}

.has-bg-mint-lighter-60 {
    background-color: #a5e7dc !important;
    color: black !important;
}

.has-bg-mint-lighter-70 {
    background-color: #bcede5 !important;
    color: black !important;
}

.has-bg-mint-lighter-80 {
    background-color: #d2f3ed !important;
    color: black !important;
}

.has-bg-mint-lighter-90 {
    background-color: #e9f9f6 !important;
    color: black !important;
}

.has-bg-lightblue {
    background-color: #4FB3D9 !important;
    color: black !important;
}

.has-bg-lightblue-darker-10 {
    background-color: #47a1c3 !important;
    color: black !important;
}

.has-bg-lightblue-darker-20 {
    background-color: #3f8fae !important;
    color: black !important;
}

.has-bg-lightblue-darker-30 {
    background-color: #377d98 !important;
    color: white !important;
}

.has-bg-lightblue-darker-40 {
    background-color: #2f6b82 !important;
    color: white !important;
}

.has-bg-lightblue-darker-50 {
    background-color: #285a6d !important;
    color: white !important;
}

.has-bg-lightblue-darker-60 {
    background-color: #204857 !important;
    color: white !important;
}

.has-bg-lightblue-darker-70 {
    background-color: #183641 !important;
    color: white !important;
}

.has-bg-lightblue-darker-80 {
    background-color: #081216 !important;
    color: white !important;
}

.has-bg-lightblue-darker-80 {
    background-color: #081216 !important;
    color: white !important;
}

.has-bg-lightblue-lighter-10 {
    background-color: #61bbdd !important;
    color: black !important;
}

.has-bg-lightblue-lighter-20 {
    background-color: #72c2e1 !important;
    color: black !important;
}

.has-bg-lightblue-lighter-30 {
    background-color: #84cae4 !important;
    color: black !important;
}

.has-bg-lightblue-lighter-40 {
    background-color: #95d1e8 !important;
    color: black !important;
}

.has-bg-lightblue-lighter-50 {
    background-color: #a7d9ec !important;
    color: black !important;
}

.has-bg-lightblue-lighter-60 {
    background-color: #b9e1f0 !important;
    color: black !important;
}

.has-bg-lightblue-lighter-70 {
    background-color: #cae8f4 !important;
    color: black !important;
}

.has-bg-lightblue-lighter-80 {
    background-color: #dcf0f7 !important;
    color: black !important;
}

.has-bg-lightblue-lighter-90 {
    background-color: #edf7fb !important;
    color: black !important;
}

.has-bg-darkblue {
    background-color: #2D3E50 !important;
    color: white !important;
}

.has-bg-darkblue-darker-10 {
    background-color: #293848 !important;
    color: white !important;
}

.has-bg-darkblue-darker-20 {
    background-color: #243240 !important;
    color: white !important;
}

.has-bg-darkblue-darker-30 {
    background-color: #1f2b38 !important;
    color: white !important;
}

.has-bg-darkblue-darker-40 {
    background-color: #1b2530 !important;
    color: white !important;
}

.has-bg-darkblue-darker-50 {
    background-color: #171f28 !important;
    color: white !important;
}

.has-bg-darkblue-darker-60 {
    background-color: #121920 !important;
    color: white !important;
}

.has-bg-darkblue-darker-70 {
    background-color: #0d1318 !important;
    color: white !important;
}

.has-bg-darkblue-darker-80 {
    background-color: #090c10 !important;
    color: white !important;
}

.has-bg-darkblue-darker-90 {
    background-color: #040608 !important;
    color: white !important;
}

.has-bg-darkblue-lighter-10 {
    background-color: #425162 !important;
    color: white !important;
}

.has-bg-darkblue-lighter-20 {
    background-color: #576573 !important;
    color: white !important;
}

.has-bg-darkblue-lighter-30 {
    background-color: #6c7885 !important;
    color: black !important;
}

.has-bg-darkblue-lighter-40 {
    background-color: #818b96 !important;
    color: black !important;
}

.has-bg-darkblue-lighter-50 {
    background-color: #969fa8 !important;
    color: black !important;
}

.has-bg-darkblue-lighter-60 {
    background-color: #abb2b9 !important;
    color: black !important;
}

.has-bg-darkblue-lighter-70 {
    background-color: #c0c5cb !important;
    color: black !important;
}

.has-bg-darkblue-lighter-80 {
    background-color: #d5d8dc !important;
    color: black !important;
}

.has-bg-darkblue-lighter-90 {
    background-color: #eaecee !important;
    color: black !important;
}

.has-bg-yellow {
    background-color: #F9CD69 !important;
    color: black !important;
}

.has-bg-yellow-darker-10 {
    background-color: #e6ad00 !important;
    color: black !important;
}

.has-bg-yellow-darker-20 {
    background-color: #cc9a00 !important;
    color: black !important;
}

.has-bg-yellow-darker-30 {
    background-color: #b38600 !important;
    color: black !important;
}

.has-bg-yellow-darker-40 {
    background-color: #997300 !important;
    color: black !important;
}

.has-bg-yellow-darker-50 {
    background-color: #806000 !important;
    color: white !important;
}

.has-bg-yellow-darker-60 {
    background-color: #664d00 !important;
    color: white !important;
}

.has-bg-yellow-darker-70 {
    background-color: #4c3a00 !important;
    color: white !important;
}

.has-bg-yellow-darker-80 {
    background-color: #332600 !important;
    color: white !important;
}

.has-bg-yellow-darker-90 {
    background-color: #191300 !important;
    color: white !important;
}

.has-bg-yellow-lighter-10 {
    background-color: #ffc61a !important;
    color: black !important;
}

.has-bg-yellow-lighter-20 {
    background-color: #ffcd33 !important;
    color: black !important;
}

.has-bg-yellow-lighter-30 {
    background-color: #ffd34d !important;
    color: black !important;
}

.has-bg-yellow-lighter-40 {
    background-color: #ffd966 !important;
    color: black !important;
}

.has-bg-yellow-lighter-50 {
    background-color: #ffe080 !important;
    color: black !important;
}

.has-bg-yellow-lighter-60 {
    background-color: #ffe699 !important;
    color: black !important;
}

.has-bg-yellow-lighter-70 {
    background-color: #ffecb3 !important;
    color: black !important;
}

.has-bg-yellow-lighter-80 {
    background-color: #fff2cc !important;
    color: black !important;
}

.has-bg-yellow-lighter-90 {
    background-color: #fff9e6 !important;
    color: black !important;
}

.has-bg-olive {
    background-color: #b4ce82 !important;
    color: black !important;
}

.has-bg-olive-darker-10 {
    background-color: #a2b975 !important;
    color: black !important;
}

.has-bg-olive-darker-20 {
    background-color: #90a568 !important;
    color: black !important;
}

.has-bg-olive-darker-30 {
    background-color: #7e905b !important;
    color: black !important;
}

.has-bg-olive-darker-40 {
    background-color: #6c7c4e !important;
    color: black !important;
}

.has-bg-olive-darker-50 {
    background-color: #5a6741 !important;
    color: white !important;
}

.has-bg-olive-darker-60 {
    background-color: #485234 !important;
    color: white !important;
}

.has-bg-olive-darker-70 {
    background-color: #363e27 !important;
    color: white !important;
}

.has-bg-olive-darker-80 {
    background-color: #24291a !important;
    color: white !important;
}

.has-bg-olive-darker-90 {
    background-color: #12150d !important;
    color: white !important;
}

.has-bg-olive-lighter-10 {
    background-color: #bcd38f !important;
    color: black !important;
}

.has-bg-olive-lighter-20 {
    background-color: #c3d89b !important;
    color: black !important;
}

.has-bg-olive-lighter-30 {
    background-color: #cbdda8 !important;
    color: black !important;
}

.has-bg-olive-lighter-40 {
    background-color: #d2e2b4 !important;
    color: black !important;
}

.has-bg-olive-lighter-50 {
    background-color: #dae7c1 !important;
    color: black !important;
}

.has-bg-olive-lighter-60 {
    background-color: #e1ebcd !important;
    color: black !important;
}

.has-bg-olive-lighter-70 {
    background-color: #e9f0da !important;
    color: black !important;
}

.has-bg-olive-lighter-80 {
    background-color: #f0f5e6 !important;
    color: black !important;
}

.has-bg-olive-lighter-90 {
    background-color: #f8faf3 !important;
    color: black !important;
}

.has-bg-red {
    background-color: #c21f3a !important;
    color: white !important;
}

.has-bg-red-darker-10 {
    background-color: #AE1B34 !important;
    color: white !important;
}

.has-bg-red-darker-20 {
    background-color: #9B182E !important;
    color: white !important;
}

.has-bg-red-darker-30 {
    background-color: #871528 !important;
    color: white !important;
}

.has-bg-red-darker-40 {
    background-color: #741222 !important;
    color: white !important;
}

.has-bg-red-darker-50 {
    background-color: #600F1D !important;
    color: white !important;
}

.has-bg-red-darker-60 {
    background-color: #4D0C17 !important;
    color: white !important;
}

.has-bg-red-darker-70 {
    background-color: #3A0911 !important;
    color: white !important;
}

.has-bg-red-darker-80 {
    background-color: #26060B !important;
    color: white !important;
}

.has-bg-red-darker-90 {
    background-color: #130305 !important;
    color: white !important;
}

.has-bg-red-lighter-10 {
    background-color: #C8354D !important;
    color: white !important;
}

.has-bg-red-lighter-20 {
    background-color: #CE4B61 !important;
    color: black !important;
}

.has-bg-red-lighter-30 {
    background-color: #D46275 !important;
    color: black !important;
}

.has-bg-red-lighter-40 {
    background-color: #DA7888 !important;
    color: black !important;
}

.has-bg-red-lighter-50 {
    background-color: #E08F9C !important;
    color: black !important;
}

.has-bg-red-lighter-60 {
    background-color: #E6A5B0 !important;
    color: black !important;
}

.has-bg-red-lighter-70 {
    background-color: #ECBBC3 !important;
    color: black !important;
}

.has-bg-red-lighter-80 {
    background-color: #F2D2D7 !important;
    color: black !important;
}

.has-bg-red-lighter-90 {
    background-color: #F8E8EB !important;
    color: black !important;
}

/**
* sets the border color
*/
.has-border-color-white {
    border: 3px solid;
    border-color: white !important;
}

.has-border-color-black {
    border: 3px solid;
    border-color: black !important;
}

.has-border-color-mint {
    border: 3px solid;
    border-color: #1fc2a7 !important;
}

.has-border-color-mint-darker-10 {
    border: 3px solid;
    border-color: #1caf96 !important;
}

.has-border-color-mint-darker-20 {
    border: 3px solid;
    border-color: #199b86 !important;
}

.has-border-color-mint-darker-30 {
    border: 3px solid;
    border-color: #168875 !important;
}

.has-border-color-mint-darker-40 {
    border: 3px solid;
    border-color: #137464 !important;
}

.has-border-color-mint-darker-50 {
    border: 3px solid;
    border-color: #106154 !important;
}

.has-border-color-mint-darker-60 {
    border: 3px solid;
    border-color: #0c4e43 !important;
}

.has-border-color-mint-darker-70 {
    border: 3px solid;
    border-color: #093a32 !important;
}

.has-border-color-mint-darker-80 {
    border: 3px solid;
    border-color: #062721 !important;
}

.has-border-color-mint-darker-90 {
    border: 3px solid;
    border-color: #031311 !important;
}

.has-border-color-mint-lighter-10 {
    border: 3px solid;
    border-color: #35c8b0 !important;
}

.has-border-color-mint-lighter-20 {
    border: 3px solid;
    border-color: #4cceb9 !important;
}

.has-border-color-mint-lighter-30 {
    border: 3px solid;
    border-color: #62d4c1 !important;
}

.has-border-color-mint-lighter-40 {
    border: 3px solid;
    border-color: #79daca !important;
}

.has-border-color-mint-lighter-50 {
    border: 3px solid;
    border-color: #8fe1d3 !important;
}

.has-border-color-mint-lighter-60 {
    border: 3px solid;
    border-color: #a5e7dc !important;
}

.has-border-color-mint-lighter-70 {
    border: 3px solid;
    border-color: #bcede5 !important;
}

.has-border-color-mint-lighter-80 {
    border: 3px solid;
    border-color: #d2f3ed !important;
}

.has-border-color-mint-lighter-90 {
    border: 3px solid;
    border-color: #e9f9f6 !important;
}

.has-border-color-lightblue {
    border: 3px solid;
    border-color: #4FB3D9 !important;
}

.has-border-color-lightblue-darker-10 {
    border: 3px solid;
    border-color: #47a1c3 !important;
}

.has-border-color-lightblue-darker-20 {
    border: 3px solid;
    border-color: #3f8fae !important;
}

.has-border-color-lightblue-darker-30 {
    border: 3px solid;
    border-color: #377d98 !important;
}

.has-border-color-lightblue-darker-40 {
    border: 3px solid;
    border-color: #2f6b82 !important;
}

.has-border-color-lightblue-darker-50 {
    border: 3px solid;
    border-color: #285a6d !important;
}

.has-border-color-lightblue-darker-60 {
    border: 3px solid;
    border-color: #204857 !important;
}

.has-border-color-lightblue-darker-70 {
    border: 3px solid;
    border-color: #183641 !important;
}

.has-border-color-lightblue-darker-80 {
    border: 3px solid;
    border-color: #081216 !important;
}

.has-border-color-lightblue-darker-80 {
    border: 3px solid;
    border-color: #081216 !important;
}

.has-border-color-lightblue-lighter-10 {
    border: 3px solid;
    border-color: #61bbdd !important;
}

.has-border-color-lightblue-lighter-20 {
    border: 3px solid;
    border-color: #72c2e1 !important;
}

.has-border-color-lightblue-lighter-30 {
    border: 3px solid;
    border-color: #84cae4 !important;
}

.has-border-color-lightblue-lighter-40 {
    border: 3px solid;
    border-color: #95d1e8 !important;
}

.has-border-color-lightblue-lighter-50 {
    border: 3px solid;
    border-color: #a7d9ec !important;
}

.has-border-color-lightblue-lighter-60 {
    border: 3px solid;
    border-color: #b9e1f0 !important;
}

.has-border-color-lightblue-lighter-70 {
    border: 3px solid;
    border-color: #cae8f4 !important;
}

.has-border-color-lightblue-lighter-80 {
    border: 3px solid;
    border-color: #dcf0f7 !important;
}

.has-border-color-lightblue-lighter-90 {
    border: 3px solid;
    border-color: #edf7fb !important;
}

.has-border-color-darkblue {
    border: 3px solid;
    border-color: #2D3E50 !important;
}

.has-border-color-darkblue-darker-10 {
    border: 3px solid;
    border-color: #293848 !important;
}

.has-border-color-darkblue-darker-20 {
    border: 3px solid;
    border-color: #243240 !important;
}

.has-border-color-darkblue-darker-30 {
    border: 3px solid;
    border-color: #1f2b38 !important;
}

.has-border-color-darkblue-darker-40 {
    border: 3px solid;
    border-color: #1b2530 !important;
}

.has-border-color-darkblue-darker-50 {
    border: 3px solid;
    border-color: #171f28 !important;
}

.has-border-color-darkblue-darker-60 {
    border: 3px solid;
    border-color: #121920 !important;
}

.has-border-color-darkblue-darker-70 {
    border: 3px solid;
    border-color: #0d1318 !important;
}

.has-border-color-darkblue-darker-80 {
    border: 3px solid;
    border-color: #090c10 !important;
}

.has-border-color-darkblue-darker-90 {
    border: 3px solid;
    border-color: #040608 !important;
}

.has-border-color-darkblue-lighter-10 {
    border: 3px solid;
    border-color: #425162 !important;
}

.has-border-color-darkblue-lighter-20 {
    border: 3px solid;
    border-color: #576573 !important;
}

.has-border-color-darkblue-lighter-30 {
    border: 3px solid;
    border-color: #6c7885 !important;
}

.has-border-color-darkblue-lighter-40 {
    border: 3px solid;
    border-color: #818b96 !important;
}

.has-border-color-darkblue-lighter-50 {
    border: 3px solid;
    border-color: #969fa8 !important;
}

.has-border-color-darkblue-lighter-60 {
    border: 3px solid;
    border-color: #abb2b9 !important;
}

.has-border-color-darkblue-lighter-70 {
    border: 3px solid;
    border-color: #c0c5cb !important;
}

.has-border-color-darkblue-lighter-80 {
    border: 3px solid;
    border-color: #d5d8dc !important;
}

.has-border-color-darkblue-lighter-90 {
    border: 3px solid;
    border-color: #eaecee !important;
}

.has-border-color-yellow {
    border: 3px solid;
    border-color: #F9CD69 !important;
}

.has-border-color-yellow-darker-10 {
    border: 3px solid;
    border-color: #e6ad00 !important;
}

.has-border-color-yellow-darker-20 {
    border: 3px solid;
    border-color: #cc9a00 !important;
}

.has-border-color-yellow-darker-30 {
    border: 3px solid;
    border-color: #b38600 !important;
}

.has-border-color-yellow-darker-40 {
    border: 3px solid;
    border-color: #997300 !important;
}

.has-border-color-yellow-darker-50 {
    border: 3px solid;
    border-color: #806000 !important;
}

.has-border-color-yellow-darker-60 {
    border: 3px solid;
    border-color: #664d00 !important;
}

.has-border-color-yellow-darker-70 {
    border: 3px solid;
    border-color: #4c3a00 !important;
}

.has-border-color-yellow-darker-80 {
    border: 3px solid;
    border-color: #332600 !important;
}

.has-border-color-yellow-darker-90 {
    border: 3px solid;
    border-color: #191300 !important;
}

.has-border-color-yellow-lighter-10 {
    border: 3px solid;
    border-color: #ffc61a !important;
}

.has-border-color-yellow-lighter-20 {
    border: 3px solid;
    border-color: #ffcd33 !important;
}

.has-border-color-yellow-lighter-30 {
    border: 3px solid;
    border-color: #ffd34d !important;
}

.has-border-color-yellow-lighter-40 {
    border: 3px solid;
    border-color: #ffd966 !important;
}

.has-border-color-yellow-lighter-50 {
    border: 3px solid;
    border-color: #ffe080 !important;
}

.has-border-color-yellow-lighter-60 {
    border: 3px solid;
    border-color: #ffe699 !important;
}

.has-border-color-yellow-lighter-70 {
    border: 3px solid;
    border-color: #ffecb3 !important;
}

.has-border-color-yellow-lighter-80 {
    border: 3px solid;
    border-color: #fff2cc !important;
}

.has-border-color-yellow-lighter-90 {
    border: 3px solid;
    border-color: #fff9e6 !important;
}

.has-border-color-olive {
    border: 3px solid;
    border-color: #b4ce82 !important;
}

.has-border-color-olive-darker-10 {
    border: 3px solid;
    border-color: #a2b975 !important;
}

.has-border-color-olive-darker-20 {
    border: 3px solid;
    border-color: #90a568 !important;
}

.has-border-color-olive-darker-30 {
    border: 3px solid;
    border-color: #7e905b !important;
}

.has-border-color-olive-darker-40 {
    border: 3px solid;
    border-color: #6c7c4e !important;
}

.has-border-color-olive-darker-50 {
    border: 3px solid;
    border-color: #5a6741 !important;
}

.has-border-color-olive-darker-60 {
    border: 3px solid;
    border-color: #485234 !important;
}

.has-border-color-olive-darker-70 {
    border: 3px solid;
    border-color: #363e27 !important;
}

.has-border-color-olive-darker-80 {
    border: 3px solid;
    border-color: #24291a !important;
}

.has-border-color-olive-darker-90 {
    border: 3px solid;
    border-color: #12150d !important;
}

.has-border-color-olive-lighter-10 {
    border: 3px solid;
    border-color: #bcd38f !important;
}

.has-border-color-olive-lighter-20 {
    border: 3px solid;
    border-color: #c3d89b !important;
}

.has-border-color-olive-lighter-30 {
    border: 3px solid;
    border-color: #cbdda8 !important;
}

.has-border-color-olive-lighter-40 {
    border: 3px solid;
    border-color: #d2e2b4 !important;
}

.has-border-color-olive-lighter-50 {
    border: 3px solid;
    border-color: #dae7c1 !important;
}

.has-border-color-olive-lighter-60 {
    border: 3px solid;
    border-color: #e1ebcd !important;
}

.has-border-color-olive-lighter-70 {
    border: 3px solid;
    border-color: #e9f0da !important;
}

.has-border-color-olive-lighter-80 {
    border: 3px solid;
    border-color: #f0f5e6 !important;
}

.has-border-color-olive-lighter-90 {
    border: 3px solid;
    border-color: #f8faf3 !important;
}

.has-border-color-red {
    border: 3px solid;
    border-color: #c21f3a !important;
}

.has-border-color-red-darker-10 {
    border: 3px solid;
    border-color: #AE1B34 !important;
}

.has-border-color-red-darker-20 {
    border: 3px solid;
    border-color: #9B182E !important;
}

.has-border-color-red-darker-30 {
    border: 3px solid;
    border-color: #871528 !important;
}

.has-border-color-red-darker-40 {
    border: 3px solid;
    border-color: #741222 !important;
}

.has-border-color-red-darker-50 {
    border: 3px solid;
    border-color: #600F1D !important;
}

.has-border-color-red-darker-60 {
    border: 3px solid;
    border-color: #4D0C17 !important;
}

.has-border-color-red-darker-70 {
    border: 3px solid;
    border-color: #3A0911 !important;
}

.has-border-color-red-darker-80 {
    border: 3px solid;
    border-color: #26060B !important;
}

.has-border-color-red-darker-90 {
    border: 3px solid;
    border-color: #130305 !important;
}

.has-border-color-red-lighter-10 {
    border: 3px solid;
    border-color: #C8354D !important;
}

.has-border-color-red-lighter-20 {
    border: 3px solid;
    border-color: #CE4B61 !important;
}

.has-border-color-red-lighter-30 {
    border: 3px solid;
    border-color: #D46275 !important;
}

.has-border-color-red-lighter-40 {
    border: 3px solid;
    border-color: #DA7888 !important;
}

.has-border-color-red-lighter-50 {
    border: 3px solid;
    border-color: #E08F9C !important;
}

.has-border-color-red-lighter-60 {
    border: 3px solid;
    border-color: #E6A5B0 !important;
}

.has-border-color-red-lighter-70 {
    border: 3px solid;
    border-color: #ECBBC3 !important;
}

.has-border-color-red-lighter-80 {
    border: 3px solid;
    border-color: #F2D2D7 !important;
}

.has-border-color-red-lighter-90 {
    border: 3px solid;
    border-color: #F8E8EB !important;
}

.has-bg-split-10-mint {
    background-color: #1fc2a7;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-10-mint {
        background: linear-gradient(rgba(0, 0, 0, 0) 10%, #1fc2a7 10%);
    }
}

.has-bg-split-20-mint {
    background-color: #1fc2a7;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-20-mint {
        background: linear-gradient(rgba(0, 0, 0, 0) 20%, #1fc2a7 20%);
    }
}

.has-bg-split-30-mint {
    background-color: #1fc2a7;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-30-mint {
        background: linear-gradient(rgba(0, 0, 0, 0) 30%, #1fc2a7 30%);
    }
}

.has-bg-split-10-lightblue {
    background-color: #4FB3D9;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-10-lightblue {
        background: linear-gradient(rgba(0, 0, 0, 0) 10%, #4FB3D9 10%);
    }
}

.has-bg-split-20-lightblue {
    background-color: #4FB3D9;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-20-lightblue {
        background: linear-gradient(rgba(0, 0, 0, 0) 20%, #4FB3D9 20%);
    }
}

.has-bg-split-30-lightblue {
    background-color: #4FB3D9;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-30-lightblue {
        background: linear-gradient(rgba(0, 0, 0, 0) 30%, #4FB3D9 30%);
    }
}

.has-bg-split-10-darkblue {
    background-color: #2D3E50;
    color: white;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-10-darkblue {
        background: linear-gradient(rgba(0, 0, 0, 0) 10%, #2D3E50 10%);
    }
}

.has-bg-split-20-darkblue {
    background-color: #2D3E50;
    color: white;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-20-darkblue {
        background: linear-gradient(rgba(0, 0, 0, 0) 20%, #2D3E50 20%);
    }
}

.has-bg-split-30-darkblue {
    background-color: #2D3E50;
    color: white;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-30-darkblue {
        background: linear-gradient(rgba(0, 0, 0, 0) 30%, #2D3E50 30%);
    }
}

.has-bg-split-10-olive {
    background-color: #b4ce82;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-10-olive {
        background: linear-gradient(rgba(0, 0, 0, 0) 10%, #b4ce82 10%);
    }
}

.has-bg-split-20-olive {
    background-color: #b4ce82;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-20-olive {
        background: linear-gradient(rgba(0, 0, 0, 0) 20%, #b4ce82 20%);
    }
}

.has-bg-split-30-olive {
    background-color: #b4ce82;
    color: black;
}

@media screen and (min-width: 1024px) {
    .has-bg-split-30-olive {
        background: linear-gradient(rgba(0, 0, 0, 0) 30%, #b4ce82 30%);
    }
}

.has-rounded-border {
    border-radius: 6px;
}

.pt-10 {
    padding-top: 10% !important;
}

.pb-10 {
    padding-bottom: 10% !important;
}

.align-items-bottom {
    margin-top: auto;
}

.align-items-center {
    margin-top: auto;
    margin-bottom: auto;
}

.align-items-top {
    margin-bottom: auto;
}