/*
@import 'fonts/_fonts.css';
*/

:root {
  /* --textColor: #f6f5f7; */
  --textColor: #020202;
  --textOffColor: #7c858d;
  --baseColor: #2D3E50;
  --baseDarkColor: #1e2b36;
  --baseLightColor: #2D3E50;
  --secColor: #3b0041;
}


body {
  /* background: var(--baseColor) !important;
  color: var(--textColor); */
  font-size: 80px;
  /* background-color: #576573; */
  /* background-color: #ffffff; */
  background-color: #ffffff;
  color: var(--textColor);
}

#username, #password, #password-confirm, #password-new{
  background-color: #425162;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  /*! color: #eee; */
  color: #dddbdb;
  font-size: 18px;
  /*! height: 100%; */
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  height: 45px;
}

 /* input{
  background-color: #425162;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #dddbdb;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  height: 45px;
}  */

.placeholder{
  font-size: 0.25em;
  padding: 10px;
  color:white;

}
.login-update-text, .box-label{
  font-size: 0.83em;
  padding: 10px;
  color:white;
}



.card-pf {
  background-color: #2d3e50;
  border-radius: 20px;
  /*! box-sizing: border-box; */
  padding: 20px;
  /*! width: 100%; */
  /*! max-width: 400px; */
  /*! width: 400px; */
  /*! display: flex; */
  /*! flex-direction: column; */
  margin-left: 200px;
  margin-right: 200px;
}

.pf-c-form__label.pf-c-form__label-text {
  font-size: 20px;
}

#kc-login {
  background-color: #4FB3D9;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  /* width: 100%; */
  width: 90%;
  /* width: 45%; */
}

#kc-update-button {
  background-color: #4FB3D9;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
  outline: 0;
  text-align: center;
  /* width: 100%; */
  width: 90%;
  /* width: 45%; */
}

#kc-login:active {
  background-color: #377d98;
}

#kc-login:hover {
  background-color: #47a1c3;
}

#kc-login:disabled {
  background-color: #6b6b6b;
}


#input-error, #input-error-otp-code, #input-error-password-confirm, #input-error-password {
  font-size: .25em;
  color:#c21f3a;
}

#social-orcid-public{

}

.login-pf-page {
  background: white;
}


div {
  text-align: center;
}

padding {
}

#kc-form-login {
  padding: 20px;
}


#username, #password {
  width: 90%;
}

#kc-form-login {
  max-width: 400px;
}

#kc-form-wrapper {
  display: flex;
  justify-content: center;
  padding-top:40px;

}

#kc-form-login, #kc-otp-login-form, #kc-passwd-update-form {
  /* background-color: #576573; */
  background-color: #2d3e50;
  border-radius: 20px;
  /*! box-sizing: border-box; */
  padding: 20px;

}

#kc-form-buttons {
  padding-bottom: 20px;
  padding-top: 20px;
}


.separator{
  background-color: #4FB3D9;
  width:100%;
  height:1px;
  margin-bottom: 60px;
  margin-top: 70px;
}

#kc-page-title, #kc-attempted-username {
  padding-bottom: 70px;
  padding-top: 70px;
  font-size: .6em;
  font-weight: 700;
  color: #020202;

}


.hero-btn-group {
  margin: 2.4rem 2.4rem 0 0;
  /* comment if buttons should be on right side */
  /*display: inline-block;*/
  align-self: center;
  margin-right: 0.8rem;
  text-align: center;
}

.btn:hover{
  box-shadow: 0 .8rem 1.5rem rgba(0,0,0,.2);
}

.btn-large{
  padding:1.6rem 3.2rem;
  border-radius: 2.8rem;
  background-color:#383B3E;
  margin-left: 20px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
}

.register_button{
  color: white;
  border-radius: 2.8rem;
  background-color:#383B3E;
  border-color: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: background-color .5s;
}

.hero-button {
  color: white;
  background-color:#383B3E;
  border-color: transparent;
  border-radius: 2.8rem;
  display: inline-block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .5s;
}

.hero-button figure{

      margin: 0 0 15px;

}

h4 {
  font-size: .3em;
  font-weight: 700;
  color:white;
  padding-bottom:40px;
}

#kc-header-wrapper {
  display: flex;
  justify-content: center;
  background-color: #2D3E50;
  /* scale: 50%; */
  height: 90px;
}



#kc-header-wrapper img {
  max-height: 80px;
  max-width: auto;
  /* justify-content: center;
  align-content: center;
  align-self: center; */
  align-self: center;
}

.button-img{
  /*border-radius: 50%;*/
  height: 120px;
  width: 120px;
  padding: 11px;
  padding-bottom:0px;
}


a#backToApplication {
  font-size: .3em;
}

.instruction{
  font-size: .3em;
}

#kc-social-providers {
  padding-bottom: 100px;
  background-color: #576573;
}

#kc-info-message {
  font-size: .6em;
}

.alert-warning.pf-m-warning {
  font-size: .4em;
}

#kc-passwd-update-form {
  font-size: .3em;
  padding-top: 40px;
}

#kc-form-buttons {
  
}

.kc-login-tooltip {
  padding-bottom: 70px;
  font-size: 0.45em;
}

.alert-error{
  font-size: .4em;
}

.box-title {
  font-size: 0.3em;
  padding: 20px;
  font-weight: 600;
  color: white;
}

#kc-totp-settings {
  font-size: .2em;
}

.registercard {
    max-width: 1000px !important
}

.spacer {
    height: 70px;
}

